<!DOCTYPE html>
<html data-theme="synthwave">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Home</title>
    </head>
    <header>
    </header>
    <body>
        <!-- make box in the middle of the screen -->
        <div class="flex flex-col items-center justify-center h-screen">
            <!-- make box with rounded corners -->
            <div class="w-96 p-6 space-y-6 bg-violet-950 rounded-xl shadow-md">
                <!-- make box with rounded corners -->
                <div class="flex flex-col items-center justify-center space-y-6">
                    <h1 class="text-3xl">
                        Login
                    </h1>
                    <form>
                        <input type="username" placeholder="Username" class="input input-bordered input-primary w-full max-w-xs" style="margin-bottom: 10px" />
                        <br>
                        <input type="password" placeholder="Password" class="input input-bordered input-primary w-full max-w-xs" style="margin-bottom: 10px" />
                        <br>
                        <button type="submit" class="btn btn-primary btn-active w-full max-w-xs">Login</button>
                    </form>
                    <p class="text-xl">Dont have an account? <a class="link-info" href="/signup">Sign up</a>!</p>
                </div>
            </div>
        </div>
    </body>
</html>